<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DigitalPharma.master.cs" Inherits="DigitalPharma.Content.DigitalPharma" %>

<!DOCTYPE html>

<html>
<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <!-- CSS only -->

    <title></title>
   <%-- <style>
        html{
            scroll-behavior:smooth;
        }
    </style>--%>
    <!-- Bootstrap -->
    <link href="<%=ResolveClientUrl("~/AdminPanel/vendors/bootstrap/dist/css/bootstrap.min.css") %>" rel="stylesheet" />
  
     
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css" integrity="sha512-qzgHTQ60z8RJitD5a28/c47in6WlHGuyRvMusdnuWWBB6fZ0DWG/KyfchGSBlLVeqAz+1LzNq+gGZkCSHnSd3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="../content/Styles/Styles.css">
    <!-- Font Awesome -->
    <link href="<%=ResolveClientUrl("~/AdminPanel/vendors/font-awesome/css/font-awesome.min.css") %>" rel="stylesheet" />
    <!-- NProgress -->
    <link href="<%=ResolveClientUrl("~/AdminPanel/vendors/nprogress/nprogress.css") %>" rel="stylesheet" />
    <!-- iCheck -->
    <link href="<%=ResolveClientUrl("~/AdminPanel/vendors/iCheck/skins/flat/green.css") %>" rel="stylesheet" />

    <!-- bootstrap-progressbar -->
    <link href="<%=ResolveClientUrl("~/AdminPanel/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css") %>" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="<%=ResolveClientUrl("~/AdminPanelvendors/jqvmap/dist/jqvmap.min.css") %>" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="<%=ResolveClientUrl("~/AdminPanel/vendors/bootstrap-daterangepicker/daterangepicker.css") %>" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="<%=ResolveClientUrl("~/AdminPanel/build/css/custom.min.css") %>" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="nav-md">
    <form runat="server">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="#" class="site_title"><i class="fa-solid fa-capsules"></i><span> Digital Pharma</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <%--<img src="../content/Styles/GarageSymbol.jpg" alt="..." class="img-circle profile_img">--%>
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>
                                    <a href="#"><span class="glyphicon glyphicon-user"></span> <asp:Label runat="server" ID="lblUser" Text=""></asp:Label></a>
                                </h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">

                                     <li><a><i class="fa fa-home"></i>Home <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/Default.aspx")%>"><i class="fa fa-home"></i>Home Page</a></li> 
                                        </ul>
                                    </li>

                                    <li><a><i class="fa fa-tasks"></i>Workshop <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/ContactDetail/ContactDetail.aspx")%>"><i class="fa fa-user"></i>Add</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/SearchContact/SearchMaster.aspx")%>"><i class="fa fa-search"></i>Search</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/Customers/Customers.aspx")%>"><i class="fa fa-user-plus"></i>Customers</a></li>
                                            
                                        </ul>
                                    </li>
                                            
                                            <li><a><i class="fa fa-car"></i> Vehicle Details <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/VehicleDetails/VehicleDetailsAddEdit.aspx")%>"><i class="fa fa-wrench"></i>Vehicle AddEdit</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/VehicleDetails/VehicleDetailsList.aspx")%>"><i class="fa fa-file-text"></i>Vehicle List</a></li>
                                           <%-- <li><a href="#"><i class="fa fa-file-text-o"></i>Customer Log</a></li>--%>
                                        </ul>
                                    </li>
                                    
                                    
                                    <li><a><i class="fa fa-wrench"></i> Spare part <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/SparePart/SparePartAdd.aspx")%>"><i class="fa fa-wrench"></i>Sale Spare-parts</a></li>
                                            <li><a href="#"><i class="fa fa-search"></i>Search</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/SparePart/SparePartList.aspx")%>"><i class="fa fa-file-text-o"></i>SparePart Log</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-gears"></i>Service <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/Service/Service.aspx")%>"><i class="fa fa-user"></i>Add Service</a></li>
                                            <li><a href="#"><i class="fa fa-search"></i>Search</a></li>
                                            <li><a href="<%=ResolveClientUrl("~/AdminPanelGarage/Service/ServiceList.aspx")%>"><i class="fa fa-file-text-o"></i>Service Log</a></li>
                                        </ul>
                                    </li>
                                    <%--<li><a><i class="fa fa-bar-chart-o"></i>Credit-Debit Log <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#"><i class="fa fa-user"></i>Add</a></li>
                                            <li><a href="#"><i class="fa fa-search"></i>Search</a></li>
                                            <li><a href="#"><i class="fa fa-trash"></i>Trash</a></li>
                                        </ul>
                                    </li>--%>
                                    </ul>
                            </div>
                           

                        </div>
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout"  href="<%=ResolveClientUrl("~/AdminPanelGarage/User.aspx")%>">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <nav class="nav navbar-nav">
                            <ul class=" navbar-right">
                                <li class="nav-item dropdown open" style="padding-left: 15px;">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user"></span> <asp:Label runat="server" ID="txtDisplayName" Text=""></asp:Label></a>
                                        
                                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="javascript:;">Profile</a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">Help</a>
                                        <a class="dropdown-item" href="../AdminPanelGarage/User.aspx"><i class="fa fa-sign-out pull-right"></i>Log Out</a>
                                    </div>
                                </li>

                                <li role="presentation" class="nav-item dropdown open">
                                    <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image">
                                                    <img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image">
                                                    <img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image">
                                                    <img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image">
                                                    <img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <div class="text-center">
                                                <a class="dropdown-item">
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <div class="right_col" role="main">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
    </form>

    <asp:ContentPlaceHolder ID="cphScriptBlock" runat="server">
    </asp:ContentPlaceHolder>

    <!-- jQuery -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/jquery/dist/jquery.min.js") %>"></script>
    <!-- Bootstrap -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/bootstrap/dist/js/bootstrap.bundle.min.js") %>"></script>
    <!-- FastClick -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/fastclick/lib/fastclick.js") %>"></script>
    <!-- NProgress -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/nprogress/nprogress.js") %>"></script>
    <!-- Chart.js -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/Chart.js/dist/Chart.min.js") %>"></script>
    <!-- gauge.js -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/gauge.js/dist/gauge.min.js") %>"></script>
    <!-- bootstrap-progressbar -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js") %>"></script>
    <!-- iCheck -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/iCheck/icheck.min.js") %>"></script>
    <!-- Skycons -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/skycons/skycons.js") %>"></script>
    <!-- Flot -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/Flot/jquery.flot.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/Flot/jquery.flot.pie.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/Flot/jquery.flot.time.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/Flot/jquery.flot.stack.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/Flot/jquery.flot.resize.js") %>"></script>
    <!-- Flot plugins -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/flot.orderbars/js/jquery.flot.orderBars.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/flot-spline/js/jquery.flot.spline.min.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/flot.curvedlines/curvedLines.js") %>"></script>
    <!-- DateJS -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/DateJS/build/date.js") %>"></script>
    <!-- JQVMap -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/jqvmap/dist/jquery.vmap.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/jqvmap/dist/maps/jquery.vmap.world.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js") %>"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/moment/min/moment.min.js") %>"></script>
    <script src="<%=ResolveClientUrl("~/AdminPanel/vendors/bootstrap-daterangepicker/daterangepicker.js") %>"></script>

    <!-- Custom Theme Scripts -->
    <script src="<%=ResolveClientUrl("~/AdminPanel/build/js/custom.min.js") %>"></script>
</body>
</html>

